body {
	margin: 0;
	padding: 0;
	background-color: #EDEEF0;
	padding-top: 50px;
}
.header {
	background: #4c75a3;
	height: 45px;
	width: 100%;
	position: fixed;
	z-index: 99999999 !important;
	top: 0;
}
.header img {
	width: 45px;	
}
.container {
	max-width: 1000px !important;
}
#search {
	border-radius: 14px !important;
	color: #d9e2ec;
	border: none;
	height: 28px;
	width: 230px;
	margin: 7px 0;
	background-image: url('../img/search.png');
	background-color: #305075;
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 25px;
}
#search:focus {
	background-color: white;
	border-radius: 14px !important;
	color: black;
	border: none;
	height: 28px;
	width: 230px;
	margin: 7px 0;
	background-image: url('../img/search.png');
	background-repeat: no-repeat;
	background-position: 5px center;
	padding-left: 25px;
}
:focus::-webkit-input-placeholder {
	color: transparent;
}
:focus::-moz-placeholder          {
	color: transparent;
}
:focus:-moz-placeholder           {
	color: transparent;
}
:focus:-ms-input-placeholder      {
	color: transparent;
}

#img-ntf {
	vertical-align: middle;
	background-size: 25px 25px;
	width: 45px;
	height: 42px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: 40px;
	display: inline-block;
	background-image: url(../img/notifications-button.png);
}
#img-ntf:hover {
	background-color: rgba(72, 105, 145, 0.5);
}
.dropdown-menu {
	border-radius: 4px!important;
	box-shadow: none;
	color: white;
}
.dropdown-toggle {
	min-width: 160px;
	font-size: 12.5px;
	letter-spacing: 1px;
	color: white-space: nowrap;
	line-height: 42px;
	color: #fff;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	background-color: #4c75a3!important;
	height: 45px !important;
	padding: 8px 5px 8px 15px !important;

}
.dropdown-toggle:hover, .dropdown-toggle:focus  {
	background-color: rgba(72, 105, 145, 0.5)!important;
	color: white;
}
.dropdown-menu li a {
	color: #2a5885;
	font-family: 'Roboto', sans-serif;
}
.dropdown-menu li a:hover {
	color: #2a5885;
	background-color: #e4eaf0;
}
#img-ttl {
	border-radius: 25px;
	width: 35px;
	height: 30px;
	vertical-align: middle;
	margin-left: 10px;
}
.phone-img{
	display: inline-block;
	text-align: center;
	color: #2a5885;
	line-height: 19px;
}
.phone-img img{
	margin-bottom: 10px;
}
.phone-img:hover a {
	background-color: #e1e5eb;
	text-decoration: none;	
	padding: 5px 40px;
	cursor: pointer;
}
.phone-img-main {
	margin-left: -20px;
	margin-right: -20px;
	z-index: 9;
	position: relative;
}


.sign-in {
	width: 320px;
	background-color: white;
	margin-top: 30px;
	padding: 25px;
}
.btn-in {
	background-color: #5e81a8;
	width: 35%;
	color: white;
	margin-right: 50px;
}
.btn-in:hover{
	background-color: #5e81a8;
	color: white;
}
.lbl-vk {
	display: block;
	text-align: center;
	font-size: 12px;

}
.btn-up{
	width: 100%;
	background-color: #68b35d;
	color: white;
	margin-top: 10px;
	font-weight: 500;
}
.btn-up:hover {
	background-color: #68b35d;	
	color: white;
}
.hp-h1{
	margin-bottom: 12px;
	font-size: 10px;
}
.footer {
	margin-top: 20px;
	border-top: 0.1px solid #ccd0d4 !important;
	padding: 10px;
	text-align: center;
	color: #939699;
}
.menu-bar, .menu-bar span{
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
	padding-left: 0;
}
.menu-bar div {
	display: inline-block;	
	vertical-align: middle;
}
.menu-bar {
	cursor: pointer;
	margin: 10px 0;
}
.img-1 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position: -5px -5px;
}
.img-2 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position: -3px -36px;
}
.img-3 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position: -3px -64px;
}
.img-4 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position: -3px -93px;
}
.img-5 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position: -3px -120px;
}
.img-6 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position: -3px -145px;
}
.img-7 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position:-3px -175px;
}
.img-8 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position:-3px -205px;
}
.img-9 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position:-3px -235px;
}
.img-10 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position:-3px -277px;
}
.img-11 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position:-3px -305px;
}
.img-12 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position:-3px -335px;
}
.img-13 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position:-3px -365px;
}
.img-14 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position:-3px -410px;
}
.img-15 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position:-3px -435px;
}
.img-16 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position:-3px -485px;
}
.img-17 {
	background-image: url('/img/menu-bar.png');
	width: 35px;
	height: 25px;
	background-size: 32px 547px;
	background-position:-3px -513px;
}
#hr {
	margin: 5px 0;
	border-color: #dfe2e8;
}
.menu-bar span {
	white-space: nowrap;
	color: #285473;
	height: 28px;
    line-height: 27px;
    font-size: 12.5px;
    overflow: hidden;
}
.block-vk{
	width: 230px;
	height: auto;
	background-color: white;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;;
	border-radius: 2px;
	margin: 15px 0 0;
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
}
.avatar-img {
	background-image: url('/img/avatar.jpeg');
	width: 200px;
    height: 200px;
    background-size: auto 200px;
    background-repeat: no-repeat;
    border-radius: 2px;
    background-position-x: -60px;

}
.block-vk .div-a {
	text-decoration: none;
	background-color: #dfe6ed;
	margin-top: 10px;
	text-align: center;
	color: #55677d;
	line-height: 30px;
	border-radius: 2px;
}
.col-md-3 #img-stat {
	width: 40px;
    background-size: 13px 13px;
    background-repeat: no-repeat;
    background-position: center 8px;
    background-color: #dfe6ed;
    height: 30px;
    margin-left: -8px;
    margin-top: 10px;
    border-radius: 2px;
    background-image: url('/img/statistic.png');
}
.col-md-3.col-md-new {
	padding-left: 0!important;
}
.col-md-3-new{
	width: 20%;

}
.col-md-9-new{
	width: 80%;
	padding-left: 0!important;
}
.box-friend{
	font-size: 0;
}
.box-friend img{
	width: 50px;
	height: 50px;
}
.box-friend{
	display: inline-block;	
}
.box-friend{
	height: 75px;
	width: 65px;
	margin-right: 6px;
}
.item-stl{
	color: #2a5885;
	line-height: 15px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    padding-top: 5px;
}
.col-md-3-new-2 {
	width: 245px;
	padding-right: 0;	
}
.col-md-9-new-2 {
	width: 570px;
	padding-right: 0;
}
.block-vk-new {
	width: 100%;
	height: auto;
}
.block {
	display: inline-block;
}
.col-md-4 .key{
	color: #828282;
}
.col-md-8 .value{ 
    color: #2a5885;
    cursor: pointer;
}
.show-hide {
	text-align: center;
}
.show-hide:hover{
	cursor: pointer;
	background-color: #f0f2f5;
}
.show-hide{
	line-height: 35px;
	height: 35px;
	color: #2a5885;
	margin-right: 15px;
}
.key-title{
	background-color: white;
}
.container-stat .block{
	text-align: center;
	padding: 1px 20px;
}
.container-stat .block p{
	margin-bottom: 0 !important;
	font-size: 19px;
    color: #42648b;
    padding-bottom: 3px;
    line-height: 21px;
}
.container-stat .block span{
    color: #828282;
    line-height: 15px;
}
.dv-im{
	display: inline-block;
}
.div-img {
	background-image: url('/img/img-add.png');
	width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: 0px -38px;
}
.div-img, #add-img {
	display: inline-block;
	vertical-align: middle;
}
.foto-lbl{
	width: 30px;
	height: 30px;
	border-radius: 25px;
	display: inline-block;
	vertical-align: top;
}
.block-vk-new textarea#text-input {
	display: inline-block;
	vertical-align: middle;
	width: 91%;
	border: 0;
	outline: none;
	resize: none;
}
.btn-new {
	text-align: right;
	margin-right: 15px;
}
.wall{
	display: inline-block;
    margin-left: 5px;
    text-align: left;
}
.see_more {
	background: rgba(1, 70, 148, 0.54);
    padding: 7px;
    color: white;
    font-weight: bold;
}
.see_more p{
	margin-bottom: 0 !important;
}
.see_more:hover {
	background: rgba(2, 58, 121, 0.66);
	cursor: pointer;
}