	<ul class="menu-bar">
	<li> 
		<div class="img-1"> </div>
		<span>Моя Страница</span>
	</li>
	<li> 
		<div class="img-2"> </div>
		<span>Мои Новости</span>
	</li>
	<li> 
		<div class="img-3"> </div>
		<span>Мои сообщения</span>
	</li>
	<li> 
		<div class="img-4"> </div>
		<span>Мои друзья</span>
	</li>
	<li> 
		<div class="img-5"> </div>
		<span>Мои группы</span>
	</li>
	<li> 
		<div class="img-6"> </div>
		<span>Мои фотографии</span>
	</li>
	<li> 
		<div class="img-7"> </div>
		<span>Мои аудиозаписи</span>
	</li>
	<li> 
		<div class="img-8"> </div>
		<span>Мои Видеозаписи</span>
	</li>
	<li> 
		<div class="img-9"> </div>
		<span>Мои Игры</span>
	</li>
	<hr id="hr">
	<li> 
		<div class="img-10"> </div>
		<span>Мои Товары</span>
	</li>
	<li> 
		<div class="img-11"> </div>
		<span>Мои Закладки</span>
	</li>
	<li> 
		<div class="img-12"> </div>
		<span>Мои Документы</span>
	</li>
	<li> 
		<div class="img-13"> </div>
		<span>Мои Рекламы</span>
	</li>
	<li> 
		<div class="img-14"> </div>
		<span>Group for ITpeople</span>
	</li>
	<li> 
		<div class="img-15"> </div>
		<span>Курсы, епт</span>
	</li>
	<hr id="hr">
	<li> 
		<div class="img-16"> </div>
		<span>Веселая ферма</span>
	</li>
	<li> 
		<div class="img-17"> </div>
		<span>Новый крокодил</span>
	</li>
</ul>
